<h1 [class]="formContent.classTitle">{{formContent.formTitle}}</h1>
<form novalidate [formGroup]="formulario" (ngSubmit)="onSubmit()">
  <div class="mb-2" *ngFor="let input of formContent.inputs">
    <label [for]="input.data.id" class="form-label">{{input.title}}
      <small class="error" *ngIf="formulario.get(input.data.id).hasError('required')">*</small>
    </label>
    <input [type]="input.data.type" class="form-control" [id]="input.data.id" name="{{input.data.id}}" formControlName="{{input.data.id}}">

    <div *ngIf="formulario.get(input.data.id).errors && formulario.get(input.data.id).touched">
      <small class="error" *ngIf="formulario.get(input.data.id).hasError('required')">Campo requerido</small>
      <small class="error" *ngIf="formulario.get(input.data.id).hasError('pattern')">{{input.tooltip}}</small>
    </div>
  </div>
  <div class="d-grid gap-2 pt-4" [ngClass]="{'d-grid gap-2' : formContent.btnBlock}">
    <button [class]="formContent.buttonClass" type="submit" [disabled]="!formulario.valid">{{formContent.buttonText}}</button>
  </div>
</form>
