
<div class="wrapper">
    <div class="container">
            <h1>Formulario de registro</h1>
            <form novalidate [formGroup]="registroForm" (ngSubmit)="registro()">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Introduce tu email: </label>
                    <input type="email" class="form-control" formControlName="email" name="email" placeholder="email@...">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Introduce clave:</label>
                    <input type="password" class="form-control" formControlName="password" name="password">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Repite tu clave:</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="botones"> 
                    <button type="submit" class="btn btn-primary">Registrarse</button>
                   
                </div>
               
            </form>

</div>
</div>