
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
    align-items: center;
    height: 120px;
}
i { 
    color:orange; 
    font-size: 50px;
  }
  h1 {
    color:grey;
    font-weight: normal;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
  }
