<div class="wrapper">
    <div class="container">
        <div id="htmlData">
            <h3>
                Historial de brechas
            </h3>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
              <th scope="col">
                Resultado
            </th>
            <th scope="col">
                Solución
            </th>   
             <th scope="col">
                Fecha creación
            </th>
            <th scope="col">
                PDF
            </th>
        </tr>
    </thead>
    <tbody>
         <tr *ngFor="let fila of listado">
   
            <td >
                <input type="text" [value]= "fila.resultado"  style="display:none;" id="id_brecha">
                {{ fila.resultado }}
            </td>
        
            <td>
                <input type="text"  [value]= "fila.solucion"  style="display:none;" id="brecha"> 
                {{ fila.solucion }}
            </td>
       
            <td>
                <input type="text"  [value]= "fila.fecha"  style="display:none;" id="fecha"> 
                {{ fila.fecha }}
            </td>
            
            <td>
                <i class="fas fa-file-download" (click)="generarPDF(fila.resultado, fila.solucion, fila.fecha)"></i>
            </td>

        </tr>
    </tbody>
</table>
</div>
<!-- <button class="btn col col-lg-4 btn-danger btn-block ml-4" (click)="generarPDF()">Descargar historial</button>-->
</div>
</div>