
<div class="wrapper">
    <div class="container">
            <h1>Bienvenido a Comunica Tu Brecha</h1>
            <p><strong>Comunica Tu Brecha </strong> es un recurso de utilidad para que cualquier organización, responsable de un tratamiento de datos personales, pueda valorar la obligación de informar a las personas físicas afectadas por una brecha de seguridad de los datos personales, tal y como establece el artículo 34 del Reglamento General de Protección de Datos.
                <br>
                <br>
                Se trata de una herramienta sencilla y gratuita. Una vez finalizada su ejecución, los datos aportados durante el desarrollo de la misma se eliminan, por lo que la Agencia Española de Protección de Datos en ningún caso puede conocer la información que haya sido aportada.
                <br>
                <br>
                Tenga en cuenta que Comunica-Brecha RGPD es una ayuda a la toma de decisiones, pero esta última corresponde ineludiblemente al responsable de tratamiento y en ningún caso su utilización representa el pronunciamiento de esta Agencia sobre la aplicación del art. 34 del RGPD para una brecha de seguridad concreta.</p>
   
                <div class="botones">
                    <button class="btn btn-secondary" type="button" style="  width: 100px; height: 50px;" [routerLink]="['/registro']">Registro</button>
                    <button class="btn btn-secondary" type="button"  style="  width: 100px; height: 50px;" [routerLink]="['/login']">Login</button>
                  </div>

            </div>

</div>

