<app-header></app-header>

<router-outlet></router-outlet>

<div class="container">
</div>

<div class="social">
    <a href="https://twitter.com/2ndfunniest" target="_blank">
        <img src="https://www.lter-europe.net/document-archive/image-gallery/albums/logos/TwitterLogo_55acee.png/image" width= 50px
        height= 50px alt="Twitter"/>
      </a> 
      <a href="https://www.youtube.com/channel/UCdKb1SWpT_D0bdqd-9BwLBw" target="_blank">
        <img src=" https://image.flaticon.com/icons/png/512/174/174883.png" width= 50px
        height= 50px alt="Youtube"/>
      </a> 
</div>

<app-footer></app-footer>

