
<div class="wrapper">
 
    <div class="container">
      <form novalidate [formGroup]="preguntas5Form" (ngSubmit)="onSubmit()">
        <h3>Información temporal</h3>

        <fieldset class="row mb-3" *ngFor="let pregunta of preguntasPadre5">
          <p><strong>{{pregunta.titulo}}</strong></p>
            <div class="col-sm-10">
              <div class="form-check" *ngFor="let respuesta of pregunta.respuestas">
                <input class="form-check-input" type={{pregunta.tipo}} formControlName="{{respuesta.id}}" name="{{respuesta.id}}" >              
                <label  for="gridRadios10">
                  {{respuesta.respuesta}}
                </label>
              </div>
         </div>
  
        </fieldset>
     
        <div class="row">
          <div class="col-md-2 col-xs-6">
            <button type="submit" [routerLink]="['/preguntas4']"  class="btn btn-secondary">Anterior</button>
          </div>
          <div class="col-md-2 col-xs-6">
            <button type="submit" [routerLink]="['/preguntas5']"  class="btn btn-secondary">Finalizar </button>
          </div>
        </div> 
         
        <p>Página 5/5</p>
  
      </form>
</div>
</div>
