.container {
    max-width: 50%;
    background-color: #fafafa60;
    border-radius: 20px;
}

.prueba {
    width: 400px;
    height: 200px;
    background-color: #fafafa60;
    border-radius: 20px;
}

 .container h1{
     text-align: center;
 }

 .botones{
     display:flex;
     justify-content: space-between;
 }

.wrapper{
    width: 100%;
    height: 100vh;
    background-image: url('http://www.solprof.com/sites/default/files/fondo-01.jpg');
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
}
h1 {
    font-family: 'Arial';
    font-size: 3em;
    white-space:normal;
    word-break: break-all;
    color: grey;
    text-shadow: -1px -1px 0px rgba(255, 255, 255, 0.3), 1px 1px 0px
    rgba(0, 0, 0, 0.8);
    text-align:center;
    width:100%;
    display: inline-block;
  }

  .toast{
    position: absolute;
  }
