
<div class="wrapper">
 
    <div class="container">
      <form novalidate [formGroup]="preguntas2Form" (ngSubmit)="onSubmit()">
        <h3>Consecuencias</h3>

        <fieldset class="row mb-3" *ngFor="let pregunta of preguntasPadre2">
          <p><strong>{{pregunta.titulo}}</strong></p>
            <div class="col-sm-10">
              <div class="form-check" *ngFor="let respuesta of pregunta.respuestas">
                <input class="form-check-input" type={{pregunta.tipo}} formControlName="{{respuesta.id}}" name="{{respuesta.id}}" (change)="onChange(respuesta.id)" >              
                <label class="form-check-label" for="gridRadios10">
                  {{respuesta.respuesta}}
                </label>
              </div>
         </div>
  
        </fieldset>
     
          <div class="pregunta4" *ngIf="extension">
          <p><strong>4A. Referido específicamente a los datos afectados. ¿Están los datos cifrados de forma segura, anonimizados o protegidos de forma que son ininteligibles para quien haya podido tener acceso o no se puede identificar a las personas? *</strong></p>
          <div class="col-sm-10">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" >
              <label class="form-check-label" for="gridRadios1">
                Si
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
              <label class="form-check-label" for="gridRadios2">
                No
              </label>
            </div>

            <div class="form-check">
              <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
              <label class="form-check-label" for="gridRadios2">
               Desconocido
              </label>
            </div>
        </div>
      </div>
      <div class="pregunta4" *ngIf="extension1">
        <p><strong>4B. Referido específicamente a los datos afectados. ¿Se ha recuperado la disponibilidad de los datos personales de forma que pueden ser tratados con normalidad? *</strong></p>
        <div class="col-sm-10">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" >
            <label class="form-check-label" for="gridRadios1">
              Si
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
            <label class="form-check-label" for="gridRadios2">
              No
            </label>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
            <label class="form-check-label" for="gridRadios2">
            	Todavía no, pero se recuperará en breve
            </label>
          </div>
      </div>
    </div>

    <div class="pregunta4" *ngIf="extension2">
      <p><strong>4C. Referido específicamente a los datos afectados por la brecha de integridad. Seleccione la opción más apropiada: *</strong></p>
      <div class="col-sm-10">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" >
          <label class="form-check-label" for="gridRadios1">
            Datos alterados, pero sin constancia de uso ilegal o incorrecto
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
          <label class="form-check-label" for="gridRadios2">
            Datos alterados y usados de forma ilegal o incorrecta, pero con la posibilidad de revertir/recuperar los daños
          </label>
        </div>

        <div class="form-check">
          <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
          <label class="form-check-label" for="gridRadios2">
            Datos alterados y usados de forma ilegal o incorrecta, sin posibilidad de revertir/recuperar los daños
          </label>
        </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2 col-xs-6">
      <button type="submit" [routerLink]="['/preguntas1']"  class="btn btn-secondary">Anterior</button>
    </div>
    <div class="col-md-2 col-xs-6">
      <button type="submit" [routerLink]="['/preguntas3']"  class="btn btn-secondary">Siguiente </button>
    </div>
  </div> 
   

        <p>Página 2/5</p>
  
      </form>
</div>
</div>
