<div class="wrapper">
  <div class="container">
    <form #formulario>
      <h3>Detalles sobre la brecha de seguridad:</h3>
      <p></p>
      <fieldset class="row mb-3" *ngFor="let pregunta of preguntasActuales">
        <h5>{{ pregunta.titulo }}</h5>
        <div class="col-sm-10">
          <div class="form-check" *ngFor="let respuesta of pregunta.respuestas">
            <input
              class="form-check-input"
              [name]="pregunta.id"
              [type]="pregunta.tipo"
              [value]="respuesta.puntuacion"
              *ngIf="pregunta.tipo== 'radio' || pregunta.tipo== 'checkbox'"
            />

            <input
            class="form-check-text"
            [type]="pregunta.tipo"
            [value]="respuesta.puntuacion"
            *ngIf="pregunta.tipo=='text' || pregunta.tipo=='number'"
          />

            <label class="form-check-label" for="gridRadios1">
              {{ respuesta.respuesta }}

            </label>
          </div>
        </div>
      </fieldset>

      <button
        (click)="changePage('prev')"
        type="submit"
        class="btn btn-secondary"
        *ngIf="paginaActual > 1"
       >
        Anterior
      </button>
      <button
        (click)="changePage('next')"
        type="submit"
        class="btn btn-secondary"
        *ngIf="paginaActual < paginador"
       >
        Siguiente
      </button>


      <button
      (click)="caculateLevel()"
      type="submit"
      class="btn btn-success"
      *ngIf="paginaActual==paginador"
   >
     Finalizar
    </button>

      <p>Página {{ paginaActual }}/{{ paginador }}</p>

    </form>
  </div>
</div>
